* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: rgb(17, 148, 98);
    padding-bottom: 1rem;
}

#day {
    color: rgb(123, 199, 10);
    padding-bottom: 1rem;
}

p {
    font-size: 20px;
    line-height: 1.5rem;
}

.topsection {

    text-align: left;
    margin: 50px auto 0;
    padding: 20px;
    width: 800px;
    border: 2px solid rgb(219, 216, 216);
}

.bottombox {

    display: flex;
    width: 800px;
    border: 2px solid rgb(219, 216, 216);
    margin: 0 auto;

}

.leftsection {
    width: 400px;
    background-color: hsl(157, 87%, 55%);
    padding: 1rem 0 0 2rem;
    line-height: 2rem;
}

#monthly {
    font-size: 24px;
    padding-bottom: 1rem;

}

button {
    font-size: 30px;
    margin: 2rem auto;
    padding: 0 5rem 0 5rem;
    background-color: rgb(123, 199, 10);
}

.rightsection {
    width: 400px;
    background-color: hsl(184, 88%, 54%);
    padding: 1rem;
    font-size: 18px;
}

#why {
    padding-bottom: 1rem;
}